footer{

    background-color: var(--contact);
}

footer, a{
    font-weight: bold;

}

@media screen and (min-width: 0px) {
    footer, a {
        text-align: center;
        font-size: 18px;
        padding: 8px;
    
    }
}